body {
  font-family: 'Barlow', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-quarter {
  flex-basis: 25%;
}

.column-full {
  width: 100%;
}

.top-header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.phone {
  width: 80%;
}

.icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  right: 25px;
}

.icon {
  width: 15%;
}

.bot-header {
  text-align: center;
  position: relative;
  right: 25px;
}

.bot-header > h3 {
  font-size: 16px;
  font-weight: bold;
}

.bot-caption {
  text-align: center;
  position: relative;
  right: 25px;
  bottom: 10px;
  font-size: 14px;
}
