body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

img {
  width: 90%;
}

.lv-bag {
  height: 100%;
}

.column-full {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-fifths {
  flex-basis: 20%;
}

.captions-flex {
  display: flex;
}

.black-caption {
  font-weight: bold;
}

.grey-caption {
  color: #dedede;
  font-size: 15px;
}

.price-container {
  position: relative;
  bottom: 15px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  background-color: #f6ede4;
}

.striked-price {
  color: #dedede;
  text-decoration: line-through;
}
